<!DOCTYPE html>

<head>
<% include ../partials/header %>
</head>

<body>

<div id="container">

    <content>
    <% include ../partials/content %>
    </content>

    <footer>
    <% include ../partials/footer %>
    </footer>

</div>

</body>

</html>
