<div id="contant">
<div class="midBox1">
  <span><img src="images/c2_i6.png" width="150" height="200" alt="" /></span>
    <div class="midBox1Top">
      <h2>few links</h2>
  <a href="#"><img src="images/c2_i2.png" width="133" height="40" alt="" /></a>
  <a href="#"><img src="images/c2_i3.png" width="84" height="40" alt=""  /></a>
  <a href="#"><img src="images/c2_i4.png" width="93" height="40" alt=""  /></a>
  <a href="#"><img src="images/c2_i5.png" width="101" height="38" alt=""  /></a>		 </div>
  <div class="midBox1Bottom">
  </div>
  <br class="clear" />
 </div>
<div class="midBox2">
 <div class="midBox2L">
  <h2>Where Does It Come From?</h2>
  <h3>Contrary to popular belief, Lorem Ipsum is not<br /> simply random text.</h3>
  <p>It is a long established fact that a reader will be distracted by the <br />readable content of a page when looking at its layout.</p>
 </div>
 <img src="images/c3_i7.png" width="460" height="237" alt="" />
</div>
