<!DOCTYPE html>
<html lang="en">

<head>
<% include ../partials/tyyli %>
</head>
<title> Site </title>
<body>

<div class="container">

    <header>
    <% include ../partials/hedu %>
    </header>
    <content>
    <% include ../partials/content %>
    </content>
    <footer>
    <% include ../partials/footer %>
    </footer>


</div>

</body>

</html>
